/* RESET ============================================================ */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif, Verdana, Geneva;
  background-color: #efefef;
  color: #272727;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */
.btn {
  padding: 1rem 4rem;
}

.btn-secondary {
  border: 3px solid black;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

/* BUTTON MEDIA QUERY */
@media only screen and (min-width: 800px) {
  .btn-secondary {
    background-color: white;
    color: black;
  }
}

/* HEADER ======================================================= */
header {
  background: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "navbar logo search";
}

.logo {
  grid-area: logo;
  text-align: center;
  line-height: 1.2;
}

.logo p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(49, 150, 175);
}

nav {
  grid-area: navbar;
}

nav ul {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  padding-top: 10rem;
  border: 3px solid black;
  transform: translateX(-1000px);
}

nav ul li {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem;
}

nav ul li:hover {
  background-color: black;
  color: white;
}

nav svg {
  stroke: black;
  width: 4rem;
}

nav svg path {
  fill: black;
}

.search {
  grid-area: search;
}

.search svg {
  stroke: black;
  width: 3rem;
}

.search svg path {
  fill: black;
}

/* Placing the content */
.logo {
  display: grid;
  place-content: center;
}

nav {
  align-self: center;
  justify-self: flex-start;
}

.search {
  align-self: center;
  justify-self: flex-end;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {
  header {
    padding: 1rem 4rem;
  }

  header {
    grid-template-columns: 1fr 2fr .5fr;
    grid-template-areas: 
      "logo navbar search";
  }

  .logo {
    justify-self: flex-start;
  }

  nav {
    justify-self: center;
    align-self: center;
  }

  nav svg {
    display: none;
  }

  nav ul {
    display: flex;
    background: unset;
    position: unset;
    top: unset;
    left: unset;
    height: auto;
    width: auto;
    transform: unset;
    border: none;
    padding-top: 0;
  }

  nav ul li {
    padding: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  nav ul li:not(:last-child) {
    margin-right: 2rem;
  }

  nav ul li:hover {
    background-color: white;
    color: rgb(49, 150, 175);
    cursor: pointer;
  }
}

@media only screen and (min-width: 975px) {
  header {
    padding: 1rem 6rem;
  }

  nav ul li {
    font-size: 1.4rem;
  }  

  nav ul li:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1090px) {
  header {
    padding: 1rem 8rem;
    grid-template-columns: 1fr 2.5fr .5fr;
  }

  nav ul li:not(:last-child) {
    margin-right: 5rem;
  }

}

/* HERO 
================================================= */
.hero {
  height: 70vh;
  background-image: url('https://images.pexels.com/photos/1456926/pexels-photo-1456926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.content {
  color: white;
  border-top: thin solid rgba(255, 255, 255, 0.3);
  border-bottom: thin solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  line-height: 1.2;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
}

.content .light-text{
  font-size: 1.8rem;
}

.content .bold-text {
  font-size: 4rem;
  font-weight: bold;

}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {
  .content {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    height: 90vh;
  }

  .content {
    width: 60%;
    padding: 2rem;
  }

  .content .light-text,
  .content .bold-text {
    line-height: 1;
  }

  .content .light-text{
    font-size: 2.2rem;
  }
  
  .content .bold-text {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1050px) {
  .content {
    width: 50%;
  }

  .content .light-text {
    font-size: 2.5rem;
  }

  .content .bold-text {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .content {
    width: 40%;
  }

  .content .bold-text {
    font-size: 5.5rem;
  }
}

/* ABOUT
=================================================== */
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .card .img-box {
  width: 100%;
  height: 15rem;
  margin-bottom: 1rem;
}

.about {
  padding: 5rem;
  background-color: rgba(255, 255, 255);
  display: grid;
  grid-template-areas: 
    "heading"
    "first"
    "second"
    "third"
    "fourth";
}

.heading {
  grid-area: heading;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.fourth {
  grid-area: fourth;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h2,
.heading p {
  text-transform: uppercase;
  position: relative;
}

.heading p {
  font-size: 1.3rem;
  color: #777;
}

.heading h2::after {
  content: "";
  position: absolute;
  background-color: rgb(56, 49, 49);
  border: thin solid rgb(56, 49, 49);
  left: 20%;
  right: 20%;
  bottom: 0px;
}

.about .card {
  padding: 1rem;
  text-align: center;
  line-height: 1.1;
}

.about .card:not(:last-child) {
  margin-bottom: 4rem;
}

.about .card h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.about .card p {
  color:#777;
  margin-bottom: 2.5rem;
  font-style: italic;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .heading h2::after {
    left: 32%;
    right: 32%;
  }
}

@media only screen and (min-width: 800px) {
  .about {
    padding: 5rem 5rem 0;
    grid-template-rows: .5fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "heading  heading"
      "first    second"
      "third    fourth";
  }

  .about .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .heading h2::after {
    left: 35%;
    right: 35%;
  }
}

@media only screen and (min-width: 1160px) {
  .about {
    column-gap: 4rem;
  }

  .about .card .img-box {
    width: 100%;
    height: 20rem;
  }

  .heading h2::after {
    left: 40%;
    right: 40%;
  }
}

@media only screen and (min-width: 1300px) {
  .about .card h3 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .about .card p {
    font-size: 1.8rem;
  }

}

@media only screen and (min-width: 1400px) {
  .about .card .img-box {
    width: 100%;
    height: 25rem;
  }

  .heading h2::after {
    left: 42%;
    right: 42%;
  }
}

/* DESSERT
=============================================================== */
.dessert .intro-img {
  background-image: url('https://images.pexels.com/photos/2067424/pexels-photo-2067424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.intro-img {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-img p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.1;

  position: absolute;
  z-index: 1000;
}

.dessert .intro-img p {
  bottom: 4rem;
  left: 4rem;
}

.dessert-content {
  background-color: white;
  padding: 5rem;
}

.dessert-content .img-box {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.dessert-content img {
  border-radius: 50%;
}

.dessert-content {
  display: grid;
  grid-template-areas: 
    "heading"
    "first"
    "second"
    "third";
}

.dessert-content .card {
  justify-self: center;
  padding: 1rem;
  text-align: center;
  line-height: 1.1;
}

.dessert-content .card:not(:last-child) {
  margin-bottom: 3rem;
}

.dessert-content .heading {
  grid-area: heading;
}

.dessert-content .first {
  grid-area: first;
}

.dessert-content .second {
  grid-area: second;
}

.dessert-content .third {
  grid-area: third;
}

.dessert-content .card h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.dessert-content .card p {
  color:#777;
  font-style: italic;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {

  .intro-img {
    height: 55vh;
  }

  .intro-img p {
    left: 12rem;
    bottom: 8rem;
    font-size: 3rem;
  }

  .dessert-content {
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "heading  heading   heading"
      "first    second    third";
  }  
}

@media only screen and (min-width: 1090px) {
  .dessert .intro-img {
    height: 60vh;
  }

  .dessert .intro-img p {
    left: 20rem;
    bottom: 8rem;
    font-size: 4rem;
  }

  .dessert-content {
    padding: 5rem 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .dessert-content {
    padding: 5rem 15rem;
  }
}

@media only screen and (min-width: 1400px) {
  .dessert-content {
    padding: 5rem 20rem;
  }
}

@media only screen and (min-width: 1500px) {
  .dessert-content {
    padding: 5rem 25rem;
  }
}

/* LISTING 
=========================================================== */
.listing .intro-img {
  background-image: url('https://images.pexels.com/photos/2711959/pexels-photo-2711959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.listing .intro-img p {
  bottom: 4rem;
  right: 4rem;
  text-align: right
}

.listing-content {
  background-color: white;
  padding: 5rem;
}

.listing-content .img-box {
  width: 20rem;
  height: 30rem;
  margin-bottom: 1rem;
}

.listing-content {
  display: grid;
  grid-template-areas: 
    "heading"
    "first"
    "second"
    "third";
}

.listing-content .card {
  justify-self: center;
  padding: 1rem;
  text-align: center;
  line-height: 1.1;
}

.listing-content .card:not(:last-child) {
  margin-bottom: 3rem;
}

.listing-content .heading {
  grid-area: heading;
}

.listing-content .first {
  grid-area: first;
}

.listing-content .second {
  grid-area: second;
}

.listing-content .third {
  grid-area: third;
}

.listing-content .card h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.listing-content .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-content .card p {
  color:#777;
  font-style: italic;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {

  .listing .intro-img {
    height: 55vh;
  }

  .listing .intro-img p {
    right: 12rem;
    bottom: 8rem;
    font-size: 3rem;
  }

  .listing-content {
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "heading  heading   heading"
      "first    second    third";
  }  
}

@media only screen and (min-width: 1090px) {
  .listing .intro-img {
    height: 60vh;
  }

  .listing .intro-img p {
    right: 20rem;
    bottom: 8rem;
    font-size: 4rem;
  }

  .listing-content {
    padding: 5rem 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing-content {
    padding: 5rem 15rem;
  }
}

@media only screen and (min-width: 1400px) {
  .listing-content {
    padding: 5rem 20rem;
  }
}

@media only screen and (min-width: 1500px) {
  .listing-content {
    padding: 5rem 25rem;
  }
}

/* SHOP
=========================================================== */
.shop .intro-img {
  background-image: url('https://images.pexels.com/photos/2967008/pexels-photo-2967008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.shop .intro-img p {
  bottom: 4rem;
  left: 4rem;
}

.shop-content {
  background-color: white;
  padding: 5rem;
}

.shop-content .img-box {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

.shop-content {
  display: grid;
  grid-template-areas: 
    "heading"
    "first";
}

.shop-content .card {
  width: 100%;
  justify-self: center;
  padding: 1rem;
  text-align: center;
  line-height: 1.1;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {

  .shop .intro-img {
    height: 55vh;
  }

  .shop .intro-img p {
    left: 12rem;
    bottom: 8rem;
    font-size: 3rem;
  }

  .shop-content .img-box {
    width: 70rem;
    height: 20rem;
    margin-bottom: 3rem;
  }

  .shop-content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1090px) {
  .shop .intro-img {
    height: 60vh;
  }

  .shop .intro-img p {
    left: 20rem;
    bottom: 8rem;
    font-size: 4rem;
  }

  .shop-content .img-box {
    height: 25rem;
    margin-bottom: 4rem;
  }

  .shop-content {
    padding: 5rem 10rem;
  }
}


/* FOOTER
============================================================ */
footer {
  height: 30vh;
  background: #f0f0f0;

  display: grid;
  place-items: center;
}

footer p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #aaa;
}

/* MEDIA QUERY */
@media only screen and (min-width: 800px) {
  footer p {
    font-size: 1.6rem;
  }
}